{% load staticfiles %}
{% load compress %}

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://bootswatch.com/slate/bootstrap.min.css">
        
        {% compress css %}
        <link rel="stylesheet" href="{% static 'poker/style.scss' %}">
        {% endcompress %}

        <script type="text/javascript">
            function updateTextVal(elName, val) {
                document.getElementById(elName.concat('_textInput')).value = val;
            }

            function updateSliderVal(elName, val) {
                document.getElementById(elName).value = val;
            }
        </script>
    </head>
    <body>
        <h1>{{ title }}</h1>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
               <!-- Brand and toggle get grouped for better mobile display -->
               <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'poker:index' %}">Tournament Helper</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'poker:blinds' %}">Blinds Structure Calculator</a></li>
                        <li><a href="{% url 'poker:stackCalc' %}">Initial Stack Calculator</a></li>
                        <li><a href="{% url 'poker:chipDist' %}">Chip Distribution Calculator</a></li>
                        <li><a href="{% url 'poker:prizeDist' %}">Prize Pool Distribution Calculator</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 center-panel">
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

                    <form action="{% url 'poker:processBlinds' %}" method="post">
                        {% csrf_token %}
                        <label>Starting Stack</label>
                        <input type="range" name="stack" id="stack" max="100000" value="0" oninput="updateTextVal('stack', this.value);"/>
                        <input type="text" class="form-control" id="stack_textInput" value="0" oninput="updateSliderVal('stack', this.value);"/>
                        <br>
                        <label>Hours of Play</label>
                        <input type="range" name="hours" id="hours" value="0" max="24" oninput="updateTextVal('hours', this.value);"/>
                        <input type="text" class="form-control" id="hours_textInput" value="0" oninput="updateSliderVal('hours', this.value);"/>
                        <br>
                        <input type="submit" class="btn btn-submit" value="Calculate" />
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </body>
</html>